$nwcdkpi-primary: mat-palette($mat-indigo, 800, 300, 900);
$nwcdkpi-accent: mat-palette($mat-light-blue);
$nwcdkpi-warn: mat-palette($mat-pink, 600);

$nwcdkpi-theme: mat-light-theme(
  $nwcdkpi-primary,
  $nwcdkpi-accent,
  $nwcdkpi-warn
);
