$nwcdkpi-light-primary: mat-palette($mat-grey, 200, 500, 300);
$nwcdkpi-light-accent: mat-palette($mat-brown, 200);
$nwcdkpi-light-warn: mat-palette($mat-deep-orange, 200);

$nwcdkpi-light-theme: mat-light-theme(
  $nwcdkpi-light-primary,
  $nwcdkpi-light-accent,
  $nwcdkpi-light-warn
);
