$nwcdkpi-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$nwcdkpi-nature-accent: mat-palette($mat-deep-purple, 300);
$nwcdkpi-nature-warn: mat-palette($mat-red, 600);

$nwcdkpi-nature-theme: mat-light-theme(
  $nwcdkpi-nature-primary,
  $nwcdkpi-nature-accent,
  $nwcdkpi-nature-warn
);
