<mat-menu #filterMenu="matMenu" [overlapTrigger]="false">
  <div class="menu-panel" (click)="$event.stopPropagation()" (keyup)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
    <form autocomplete="off" [formGroup]="form" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
      <mat-form-field>
        <mat-select placeholder="请选择筛选条件" formControlName="operator" #op>
          <mat-option *ngFor="let filterOperator of operators" [value]="filterOperator">
            {{ filterOperator.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="请填写筛选值" formControlName="value">
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" type="button" (click)="submit()" [disabled]="form.invalid">添加条件</button>
        <button mat-button type="button" (click)="clear()">重置条件</button>
      </div>
      <mat-chip-list #chipList class="mat-chip-list-stacked" aria-orientation="vertical">
        <mat-chip *ngFor="let queryPart of queryParts; trackBy: trackQuery" (removed)="remove(queryPart)" [removable]="true"
          [selectable]="false">
          {{ queryPart.toLabel() }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </form>
  </div>
</mat-menu>
