<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">{{ 'tgkpi.feedback.rater.title' | translate }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ngx-mat-autocomplete
        [source]="items"
        [clearAfterSearch]="true"
        [placeholder]="'tgkpi.feedback.search.placeholder' | translate"
        [displayTemplate]="itemTemplate"
        [noRecordText]="'tgkpi.feedback.search.norecord' | translate"
        [showNoRecordButton]="true"
        [noRecordButtonText]="'tgkpi.feedback.search.addnew' | translate"
        (noRecord)="addExternalRater($event)"
        (optionSelected)="selectRater($event)">
      </ngx-mat-autocomplete>
      <ng-template #itemTemplate let-item>
        <div class="contributors-wrapper">
          <a class="contributor" href="#" target="_blank">
            <img [src]="item.avatar">
          </a>
          <span> {{item.name}} </span>
          <span> {{item.email}} </span>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row align-items-end">
    <mat-card class="person-card" *ngFor="let rater of selectedRaters">
      <div class="ribbon-wrapper-green">
        <div class="ribbon-green"> {{ relationToUser(rater) | translate }} </div>
      </div>
      <mat-card-header>
        <div mat-card-avatar *ngIf="rater.avatar.startsWith('http') else loadBuildInAvatar" [ngStyle]="{'background-image': 'url(' + rater.avatar + ')', 'background-size': 'cover'}"></div>
        <ng-template #loadBuildInAvatar>
          <mat-icon [svgIcon]="rater.avatar" mat-card-avatar></mat-icon>
        </ng-template>
        <mat-card-title>{{ rater.name }}</mat-card-title>
        <mat-card-subtitle>{{ rater.title ? rater.title : ('tgkpi.feedback.rater.notitle' | translate) }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="d-flex mx-auto align-items-center justify-content-start">
          <mat-icon>email</mat-icon>
          <span>{{ rater.email }}</span>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [disabled]="isSupervisorOrSubordinates(rater)"> {{ 'tgkpi.feedback.raters.remove' | translate }}</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="row">
    <div class="d-flex justify-content-end col-md-12">
      <button mat-raised-button color="primary" (click)="completeRaterSelection()">{{ 'tgkpi.feedback.rater.submit' | translate }}</button>
    </div>
  </div>
</div>
