<mat-list-item
  (mouseenter)="toggleButtonBar(true)" (mouseleave)="toggleButtonBar(false)">
  <img [src]="item.avatar" matListAvatar />
  <h4 mat-line>{{item.name}}</h4>
  <p mat-line>{{item.title}}</p>
  <span class="badge badge-secondary"> {{ relation }} </span>
  <span [@buttonBar]="buttonBarState" class="d-flex m-1">
    <button mat-button color="primary"> {{ 'nwcdkpi.feedback.review.accept' | translate }} </button>
    <button mat-button color="warn"> {{ 'nwcdkpi.feedback.review.decline' | translate }} </button>
  </span>
</mat-list-item>
