<ng-template #sortHeaderTpl let-column let-idx>
  <span *ngIf="sortable else nosort" mat-sort-header arrowPosition="after" [disabled]="!column.name">
    {{ column.displayName || 'col' + idx }}
  </span>
  <ng-template #nosort>
    <span>{{ column.displayName }} </span>
  </ng-template>
</ng-template>
<table
  mat-table
  matSort
  [dataSource]="dataSource"
  [matSortDisabled]="!sortable"
  (matSortChange)="handleSortChange($event)">
  <ng-container matColumnDef="select" *ngIf="selectable">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        (change)="$event ? masterToggle() : undefined">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        [checked]="selection.isSelected(row)"
        (click)="$event.stopPropagation()"
        (change)="handleSelectChange($event, row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container
    *ngFor="let column of columns; let i = index"
    matColumnDef="{{ column.name }}"
    [sticky]="column.sticky === 'start'"
    [stickyEnd]="column.sticky === 'end'">
    <th
      *matHeaderCellDef
      mat-header-cell>

      <button class="mat-sort-header-button"
        *ngIf="showFilters && canFilter(column)"
        (click)="filter(column); $event.stopPropagation();">
        <mat-icon color="{{ isFiltered(column) ? 'primary' : 'default' }}">filter_list</mat-icon>
      </button>
      <ng-container [ngTemplateOutlet]="sortHeaderTpl" [ngTemplateOutletContext]="{$implicit: column, idx: i}"></ng-container>
    </th>
    <td mat-cell *matCellDef="let row">
      <ngx-table-cell [row]="row" [column]="column"></ngx-table-cell>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: [stickyHeader]"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns;"
    [ngxDetailRow]="row"
    [ngxDetailRowTpl]="expandTpl"
    (click)="handleRowClick(row)">
  </tr>
</table>
<mat-paginator
  #paginator
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  [length]="total"
  (page)="emitPage($event)">
</mat-paginator>
